<html>
<link href='http://fonts.googleapis.com/css?family=Henny+Penny' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>

<head>
	<title>Quit</title>
	<link rel="shortcut icon"href="../static/images/h3.jpg">

<style type="text/css">
body{
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#text{
	position: relative;
	float: right;
	top: 400px;
	font-family: 'Freckle Face';
	color: #1F0F00;
	font-size: 70px;
}

</style>
</head>
<body background="../static/images/u2.jpg">
<div id="text">
	Thank you for playing...
</div>
</body>
</html>